<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8" />
     <meta http-equiv="X-UA-Compatible" content="IE=edge" />
     <meta name="viewport" content="width=device-width, initial-scale=1.0" />
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
     integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
     <link rel="stylesheet" href="./styles/animations.css">
     <link rel="stylesheet" href="./styles/styles.css">
     <title>Checkout</title>
</head>
<body>
     <div id="app">
          <!----------------------------- HEADER ----------------------------->
          <div v-show="charging==true" class="header bg-hero">
            <div class="preloader--container fade-out">
              <div
                class="heartbeat d-flex align-items-center justify-content-center"
              >
                <img src="./assets/logo-01.png" class="w-50 h-50 p-3" alt="logo" />
              </div>
              <div class="spinner">
                <span>L</span>
                <span>E</span>
                <span>T</span>
                <span>S</span>
                <span></span>
                <span>R</span>
                <span>O</span>
                <span>C</span>
                <span>K</span>
                <span>!</span>
              </div>
            </div>
          </div>
          <div v-show="charging==false">
            <header class="header bg-checkout">
                <nav class="nav">
                     <a href="./index.html"><img src="./assets/logo-nav.png" alt="logo" id="logo" class="logo-header"></a>
                     <div>
                         <a class="underline-hover-effect ms-3 me-3" href="./index.html">Home</a>
                         <a class="underline-hover-effect ms-3 me-3" href="./courses.html">Courses</a>
                         <a class="underline-hover-effect ms-3 me-3" href="./merchandise.html">Merchandise</a>
                         <a class="underline-hover-effect ms-3 me-3" href="./aboutUs.html">About us</a>
                     </div>
                     <div v-if="!isLogin">
                         <a  href="./login.html" id="btn-login">Login</a>
                     </div>
                     <div v-else class="student-cart-container">
                         <!------------------- Shop Car--------------------->
                         <div class="cart">
                             <div class="cart-amount">{{merchscart.length + coursescart.length}}</div>
                             <!-- <img src="/assets/cart-01.png"> -->
                             <a type="button" data-bs-toggle="offcanvas" href="#offcanvasRight" aria-controls="offcanvasExample">
                               <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-shopping-cart" width="32"
                                 height="32" viewBox="0 0 24 24" stroke-width="1.5" stroke="#2c3e50" fill="none" stroke-linecap="round"
                                 stroke-linejoin="round">
                                 <path stroke="none" d="M0 0h24v24H0z" fill="none" />
                                 <circle cx="6" cy="19" r="2" />
                                 <circle cx="17" cy="19" r="2" />
                                 <path d="M17 17h-11v-14h-2" />
                                 <path d="M6 5l14 1l-1 7h-13" />
                               </svg>
                             </a>
             
                              <!-- ---------------------offcanvas shop car ---------------------------- -->
                              <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
                                 <div class="offcanvas-header">
                                   <h5 id="offcanvasRightLabel" class="font fs-2">My cart</h5>
                                   <i class="fa-solid fa-x deletes fs-2" v-on:click="deleteCartMerchs(merch)" data-bs-dismiss="offcanvas" aria-label="Close"></i>
                                 </div>
                                 <div class="offcanvas-body ">
                                   <table class="table">
                                     <thead>
                                       <tr>
                                         <th scope="col">Name</th>
                                         <th scope="col" class="text-center">Price</th>
                                         <th scope="col" class="text-center">Units</th>
                                         <th scope="col" class="text-center">Subtotal</th>
                                         <th scope="col" class="text-center">Remove</th>
                                       </tr>
                                     </thead>
                                     <tbody>
                                       <tr v-for="merch in merchscart">
                                         <td>{{merch.type}}</td>
                                         <td class="text-center">${{merch.price}}</td>
                                         <td><div id="contador" class="d-flex align-items-baseline justify-content-center">
                                           <i class="fa-solid fa-minus me-2 deletes" v-on:click="disminuirUnidadesAComprar(merch)"></i>
                                           <p class="text-center">{{merch.unidadesAComprar}}</p>
                                           <i class="fa-solid fa-plus ms-2 text-center deletes" v-on:click="aumentarUnidadesAComprar(merch)"></i>
 
                                         </div></td>
                                         <td class="text-center">${{calcularSubtotalMerch(merch)}}</td>
                                         <td class="text-center"><i class="fa-solid fa-x deletes" v-on:click="deleteCartMerchs(merch)"></i></td>
                                       </tr>
                                       <tr v-for="course in coursescart">
                                         <td>{{course.name}}</td>
                                         <td class="text-center">${{course.price}}</td>
                                         <td></td>
                                         <td class="text-center">${{calcularSubtotalCourse(course)}}</td>
                                         <td class="text-center"><i class="fa-solid fa-x deletes " v-on:click="deleteCartCourse(course)"></i></td>
                                       </tr>
                                     </tbody>
                                   </table>
                                     <h4 class="mb-4"> Total to pay: ${{obtenerPrecioTotal()}}</h4>
                                   <a href="./checkout.html" class="checkout">Finish purchase</a>
                                 </div>
                               </div>
                       
                         </div>
                         <div class="student-header-container">
                            <p>{{firstName}}  {{lastName}}</p>
                            <img :src="`./assets/${firstName.toLowerCase()}.png`" alt="student" >
                            <ul >
                                <li @click="logout" class="d-flex justify-content-between align-items-center"><i class="fa-solid fa-right-from-bracket me-2"></i><p>Logout</p></li>
                                <li class="d-flex justify-content-between align-items-center"> <a href="./students.html">Dashboard</a></li>
                            </ul>
                          </div>
                     </div>
                 </nav>
                <div class="header-container-title">
                     <h1 class="header-title">Who <span class="font">we </span> are ?</h1>
                     <h2 class="header-title">Our essence... </h2>
                </div>
                
           </header>
           
           <!----------------------------- MAIN ---------------------------->
           <main id="main-checkout">
            <div class="container-checkout1">
                <div><h2 class="fs-1 red">
                    Checkout
                </h2></div>
                <form v-on:submit.prevent="payment()" class="card-body" style="height: 350px">
                    <div class="form-group">
                        <label for="cc-number" class="control-label fs-3 red">Numero de la Tarjeta</label>
                        <input v-model="cardNumber" id="cc-number" type="tel"
                            class="input-lg form-control cc-number" autocomplete="cc-number"
                            placeholder="&bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull; &bull;&bull;&bull;&bull;"
                            required>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cc-exp" class="control-label fs-3 red">CARD EXPIRY</label>
                                <input v-model="date" id="cc-exp" type="tel" class="input-lg form-control cc-exp"
                                    autocomplete="cc-exp" placeholder="&bull;&bull; / &bull;&bull;" >
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="cc-cvc" class="control-label fs-3 red" >CVV</label>
                                <input v-model="cvv" id="cc-cvc" type="tel" class="input-lg form-control cc-cvc"
                                    autocomplete="off" placeholder="&bull;&bull;&bull;&bull;" required>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="numeric" class="control-label fs-3 red">Name</label>
                        <input required v-model="name" type="text" class="input-lg form-control">
                    </div>
                    <div class="form-group mb-3">
                        <label for="numeric" class="control-label fs-3 red">Descripcion</label>
                        <input required v-model="descripcion" type="text" class="input-lg form-control">
                    </div>
                    <div class="form-group mb-3">
                      <label for="numeric" class="control-label fs-2 red">Total to pay: ${{obtenerPrecioTotal()}}</label>
                  </div>
                    <div class="form-group">
                        <input value="Finish Purchase" type="submit" class="w-100 btn-purchase">
                    </div>
                </form>
            </div>
            <div class="container-checkout2">
              <div class="cardInfo-checkout"> 
                <h4 class="ms-1">Requeriments</h4>
              <p>To get pre-approved for a loan, you'll need five things—proof of assets and income, good credit, employment verification, and other types of documentation your lender may require.</p>
              </div>
              <div class="cardInfo-checkout">
                <h4 class="ms-1">Proof of Income</h4>
              <p>Buyers generally must produce W-2 wage statements from the past two years, recent pay stubs that show income as well as year-to-date income, proof of any additional income such as alimony or bonuses, and the two most recent years' tax returns.</p>
              </div>
              <div class="cardInfo-checkout">
                <h4 class="ms-1">Proof of Assets</h4>
              <p>The borrower needs bank statements and investment account statements to prove that they have funds for the down payment and closing costs, as well as cash reserves.</p>
              </div>
              <div class="cardInfo-checkout">
                <h4 class="ms-1">Good Credit</h4>
              <p>Most lenders require a FICO score of 620 or higher to approve a conventional loan, and some even require that score for a Federal Housing Administration loan.</p>
              </div>
              <div class="cardInfo-checkout">
                <h4 class="ms-1">Employment Verification</h4>
              <p>enders want to make sure they lend only to borrowers with stable employment. A lender will not only want to see a buyer's pay stubs but also will likely call the employer to verify employment and salary.</p>
              </div>
            </div>
        </main>
 
           <!----------------------------- FOOTER ----------------------------->
           <footer class="container-footer">
 
                <div class="container-footer-col#1 col-3">
                     <img src="./assets/logo-nav.png" alt="logo" class="mb-4">
                     <ul class="d-flex flex-column gap-3 p-0">
                     <li>Copyright © 2021.</li>
                     <li>Emusic All rights reserved.</li>
                     <li class="d-flex gap-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-map-pin" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ce0202" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                               <circle cx="12" cy="11" r="3" />
                               <path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" />
                          </svg>
                          Jl. Sunset Road No.815, Kuta.
                     </li>
                     <li class="d-flex gap-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-mail" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ce0202" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                               <rect x="3" y="5" width="18" height="14" rx="2" />
                               <polyline points="3 7 12 13 21 7" />
                          </svg>
                          support@emusic.com
                     </li>
                     <li class="d-flex gap-2">
                          <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-phone-call" width="20" height="20" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ce0202" fill="none" stroke-linecap="round" stroke-linejoin="round">
                               <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                               <path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" />
                               <path d="M15 7a2 2 0 0 1 2 2" />
                               <path d="M15 3a6 6 0 0 1 6 6" />
                          </svg>(+62)81 6754 345
                     </li>
                     </ul>
                </div>
 
                <div class="container-footer-col#2 col-3">
                     <ul class="d-flex flex-column gap-3 p-0">
                     <h3 class="bold">GOT LOST?</h3>
                     <li><a href="http://">Home</a></li>
                     <li><a href="http://">Student's Profile</a></li>
                     <li><a href="http://">Teacher's Room</a></li>
                     <li><a href="http://">Courses</a></li>
                     <li><a href="http://">Merchandise</a></li>
                     <li><a href="http://">About Us</a></li>
                     </ul>
                </div>
 
                <div class="container-footer-col#3 col-3">
                     <ul class="d-flex flex-column gap-3 p-0">
                     <h3 class="bold">ABOUT EMUSIC</h3>
                     <li><a href="http://">FAQ</a></li>
                     <li><a href="http://">Privicy Policy</a></li>
                     <li><a href="http://">Terms & Condition</a></li>
                     <li><a href="http://">Support</a></li>
                     </ul>
                </div>
 
                <div class="container-footer-col#4 col-3">
                     <h3 class="bold">FOLLOW US</h3>
                     <ul class="d-flex gap-4 p-0">
                          <li><a href="https://www.facebook.com/profile.php?id=100083025423365"><img src="./assets/facebook.png" alt="facebook" class="social"></a></li>
                          <li><a href="https://www.instagram.com/emusicmindhub/"><img src="./assets/instagram.png" alt="instagram" class="social"></a></li>
                          <li><a href="https://twitter.com/EMusicMindHub"><img src="./assets/twitter.png" alt="twitter" class="social"></a></li>
                          <li><a href="https://www.youtube.com/channel/UC2nJJf25rRyHdYqcdxUoMwQ"><img src="./assets/youtube.png" alt="youtube" class="social"></a></li>
                      </ul>
                     <form class="subscribe-footer">
                     Subscribe our Newsletter
                     <input type="email" placeholder="@" class="newsletter-input">
                     <div class="subscribe-btns">
                          <button type="button" class="buscribe-btn" v-on:click="subscribeEmail()">Subscribe</button>
                     </div>
                     </form>
                </div>
 
           </footer>
 
           {{ headershow }}
          </div>


     </div>

     <!----------------------------- SCRIPTS ----------------------------->
     <!--Chatbot Test-->
     <script 
     src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
     integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" 
     crossorigin="anonymous">
     </script>
     <script
     src="https://kit.fontawesome.com/2544a6d2ae.js"
     crossorigin="anonymous"
     ></script>
     <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
     <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
     <script src="https://unpkg.com/vue@3"></script>
     <script src="./scrips/checkout.js"></script>
</body>
</html>
